.hero {
    display: flex;
    flex-direction: column;
    gap:36px;
    line-height: 1.2;
}
.hero .hello {
    opacity: 0.85;
    font-size: 36px;
    @media(max-width:769px) {
        font-size: 24px;
    }
}
.hero .title {
    font-size: 40px;
    @media(max-width:769px) {
        font-size: 36px;
    }
}
.hero .subtitle {
    font-size: 24px;
    opacity: 0.65;
    @media(max-width:769px) {
        font-size: 16px;
    }
}